
{% if not macros %}
	{% import "_macros.html" as macros with context %}
{% endif %}

{% if ques %}

		<!-- This is the question accessories -->
		<div class="row">
			<div class="col-md-1 accessories">
				<div class="btn-group-vertical">

					{{macros.upvote(current_user, ques)}}

					<h4 class="upvote-count text-center">{{ques.votes}}</h4>
					
					{{macros.downvote(current_user, ques)}}

					{{macros.favourite(current_user, ques)}}

					{% if current_user.id == ques.author_id %}
					<a href="{{url_for('question.edit_question', id=ques.id)}}" id="edit" class="btn btn-info">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					</a>
					{% endif %}

					{% if current_user.has_solved(ques) %}
					<button data-id="{{ques.id}}" class="unsolve-btn btn btn-success">
						<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
					</button>
					{% endif %}


					<button id="report-question" data-count="{{ques.reported_wrong_ques}}" class="btn {% if current_user.has_reported(ques) %}btn-success{% else %}btn-default{%endif%}">
						<span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
					</button>

				</div>
			</div>

			<div class="col-md-11">
				<h5>Tags</h5>
				{% for tag in ques.tags %}
						<a class="btn {% if tag.has_user(current_user) %}btn-success{%else%}btn-info{%endif%} btn-xs" href="{{url_for('main.tags', tagname=tag.tagname)}}"><strong>{{tag.tagname}}</strong></a>
				{% endfor %}
			</div>
			
			<div class="col-md-11">	

				<div class="difficulty pull-right" {% if current_user.setting.hide_difficulty %} style="display: none" {% endif %}>
					<p>Solved {{ques.difficulty[1]}} times</p>
					<p>Attempted {{ques.difficulty[0]}} times</p> 
				</div>

				<h5>Question</h5>
				{%- if ques.reported_by.count() > 3 %}
				<div class="alert alert-warning alert-dismissible" role="alert">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <strong>Note!</strong> Better check yourself, you're not looking too good.
				</div>
				{% endif -%}
				<div>
					<p id="question-body" class="lead">{{ques.body}}</p>
				</div>
			</div>

			<div class="col-md-11">
				<form class="option-form">
					<input name="question-id" type="hidden" value="{{ques.id}}">
					
					
					<h5>Options</h5>
					
					<div class="hide-option-layer">
						
						<button id="show-options-btn" class=
						"btn btn-primary">Show Options</button>

					</div>
					{% set options = ques.options %}
					{% for option in options %}
						{% if option.body %}
							<div class="options">
								<div class="btn btn-default btn-block">
									{{option.body}}
								</div>
								<input type="hidden" value="{{option.id}}">
							</div>
						{% endif %}
					{% endfor %}


					<div class="row">

						<div class="ques-controls col-md-1">
							<div class="dropdown">
								<button id="ques-control" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="caret"></span>
								</button>

								<ul class="dropdown-menu">
									<li><a href="{{url_for('question.questions', id=ques.id)}}"><span class="glyphicon glyphicon-paperclip"></span> Permalink</a></li>
								</ul>
							</div>

						</div>
						<div class="posted-on col-md-3">
							<span>
							Posted on <br/> {{ques.timestamp|time}}
							</span>
						</div>
						
						<div class="col-md-4">
							<button id="submit-options" class="btn btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-send"></span> Check</button>
						</div>
						
						{{macros.user_box(ques.user, class="home-user-box col-md-4 pull-right")}}

					</div>
				</form>
			</div>


			<div class="row">
				<div class="col-md-12">
					<hr>
				</div>
			</div>
			
			<div class="col-md-12">

					{% include "question/_tabs.html" %}
			</div>

		</div>



		
{% else %}
	{% if current_user.associated_tags.count() == 0 %}
	<br/>
	<br/>	
	<h5>Please choose at least one topic to populate the questions.</h5>
	<strong>Here is a quick walkthrough :-</strong>
	<ul>
		<li>You can post your own questions in Multiple Choice Format.</li>
		<li>You can answer other questions</li>
		<li>Every correct answer will fetch you points.</li>
		<li>The streak will be updated everyday when you successfully solve a question that day.</li>
	</ul>

	<img class="img-rounded center-block" width="350px" src="{{url_for('static', filename='ph.jpg')}}" />
	{% else %}
		<br/>
		<br/>

		<h5>You have exhausted all the questions</h5>
		<strong>You can post your own questions <a href="{{url_for('question.post_question')}}">here</a>. </strong>
	{% endif %}
{% endif %}