
{% if ques %}
		<h5>Tags</h5>
		<div class="row">
			<div class="col-md-12">
				{% for tag in ques.tags %}
					<span class="label label-info">{{tag.tagname}}</span>
				{% endfor %}
			</div>
		</div>

		<div class="row">
			
			<div class="col-md-12">
				<h5>Question</h5>
				<div>
					<p class="lead">{{ques.body}}</p>
				</div>
			</div>
		</div>

		<div class="row">
			<form class="option-form">
			<input name="question-id" type="hidden" value="{{ques.id}}">
			<div class="col-md-12">	
				<h5>Options</h5>
			</div>	
			{% set options = ques.options %}
			{% for option in options %}

			<div class="col-md-12">
				<div class="options">
					<p>{{option.body}}</p>
					<input type="hidden" value="{{option.id}}">
				</div>
			</div>
			{% endfor %}

				<div class="col-md-2 col-md-offset-5">
					<input id="submit-options" class="btn btn-primary btn-block" autocomplete="off" type="submit" value="Check">
				</div>
			</form>

		</div>	

		<div class="row">
			<div class="col-md-9">
				<h5>Description</h5>
				<p class="lead">{{ques.description}}</p>
			</div>
			<div class="user-box col-md-3">
				<img width="50px" src="{{session['user_picture']}}" alt="{{session['username']}}" />
				<a href="">{{session['username']}}</a>
				<p>{{ques.timestamp.strftime('%a %b %Y %I:%M %p')}}</p> 
				
				
				
			</div>
		</div>	
{% else %}
	<h3>Please choose at least one topic.</h3>
{% endif %}