
{% if ques %}

		<!-- This is the question accessories -->

		<div class="row">
			<div class="col-md-12">
				<h5>Tags</h5>
				{% for tag in ques.tags %}
					<span class="label label-info">{{tag.tagname}}</span>
				{% endfor %}
			</div>
			
			<div class="accessories col-md-1">
				<div class="btn-group-vertical">

					{% if current_user.has_upvoted(ques) %}
						<button href="#" id="upvote" class="btn btn-success">
					{% else %}
						<button href="#" id="upvote" class="btn btn-default">
					{% endif %}
						<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
					</button>


					<h4 class="upvote-count text-center">{{ques.votes}}</h4>

					{% if current_user.has_downvoted(ques) %}
						<button id="downvote" class="btn btn-success">
					{% else %}
						<button id="downvote" class="btn btn-default">
					{% endif %}
					<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
					</button>

					{% if current_user.has_favourited(ques) %}
					<button id="favourite" class="btn btn-success">
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					{% else %}
						<button id="favourite" class="btn btn-default">
						<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
					{% endif %}
					</button>

					{% if current_user.id == ques.author_id %}
					<a href="{{url_for('question.edit_question', id=ques.id)}}" id="edit" class="btn btn-info">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					</a>
					{% endif %}

					{% if current_user.has_solved(ques) %}
					<button id="solved-question" class="btn btn-success">
						<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
					</button>
					{% endif %}


					<button id="flag-question" class="btn btn-default">
						<span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
					</button>

				</div>
			</div>

			<div class="col-md-11">				
				<h5>Question</h5>

				<div>
					<p class="lead">{{ques.body}}</p>
				</div>
			</div>

			<div class="col-md-11">
				<form class="option-form">
					<input name="question-id" type="hidden" value="{{ques.id}}">
					
					
					<h5>Options</h5>
					

					{% set options = ques.options %}
					{% for option in options %}
						{% if option.body %}
							<div class="options">
								<div class="btn btn-default btn-block">
									{{option.body}}
								</div>
								<!-- <p>{{option.body}}</p> -->
								<input type="hidden" value="{{option.id}}">
							</div>
						{% endif %}
					{% endfor %}

					<div class="row">
						<div class="col-md-4 col-md-offset-4">
							<input id="submit-options" class="btn btn-primary btn-block" autocomplete="off" type="submit" value="Check">
						</div>
						<div class="col-md-1 col-md-offset-2 pull-right">
							<div class="btn-group pull-right">
								<button id="ques-control" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="glyphicon glyphicon-menu-hamburger"></span>
								</button>

								<ul class="dropdown-menu">
									<li><a href="{{url_for('question.questions', id=ques.id)}}">Permalink</a></li>
									<li><a href="#">Another</a></li>
								</ul>								
							</div>
						</div>
					</div>
				</form>
			</div>


			<div class="row">
			<div class="col-md-12">
				<hr>
			</div>
			</div>

			<div class="col-md-11">
				
				<div class="row">
					<div class="col-md-9">
						<h5>Description</h5>
						<p class="lead">{{ques.description}}</p>
					</div>

					<div class="user-box col-md-3">
						<img width="50px" src="{{session['user_picture']}}" alt="{{session['username']}}" />
						<a href="">{{session['username']}}</a>
						<b>Current User: {{current_user.score}}</b>
						<p>{{ques.timestamp.strftime('%a %b %Y %I:%M %p')}}</p> 
					</div>
				</div>
			</div>

		</div>



		
{% else %}
	<h3>Please choose at least one topic.</h3>
{% endif %}