{% macro solution() %}
    {% for sol in ques.solutions %}
        <div class="panel panel-info">
            <div class="panel-heading">Posted by {{sol.user.username}}</div>
            
            <div class="panel-body">
           {{sol.body}}
            </div>

            <div class="panel-footer">Panel footer</div>
        </div> 
    {% else %}
    <div class="panel panel-danger">
        <div class="panel-body">
            No SOlutions
        </div>
    </div>
    {% endfor %}
{% endmacro %}

<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#desc" role="tab" data-toggle="tab">Description</a>
        </li>

        <li role="presentation" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Solutions <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#view-solutions" role="tab" data-toggle="tab">View Solutions</a>
                </li>
                <li><a href="#post-solution" role="tab" data-toggle="tab">Post Solutions</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane fade in active" id="desc">
            {% if ques.description %}
                <p>{{ques.description}}</p>
            {% else %}
                <h5>No description available</h5>
            {% endif %}
        </div>
        
        <div role="tabpanel" class="tab-pane fade in" id="view-solutions">
            
               {{solution()}}
            
        </div>

        <div role="tabpanel" class="tab-pane fade" id="post-solution">
            {% set sol = ques.solution_by_user(current_user)%} 
            
            {% if sol %}
            <div class="solution row">
                <div class="sol-user-info col-md-12">
                            You posted a solution by {{sol.timestamp}}
                </div>

                <div id="to-edit" class="sol-body col-md-12">
                            {{sol.body}}
                </div>

                <div class="sol-controls col-md-12">
                    {% if current_user.has_upvoted(sol) %}
                            <button data-id="{{sol.id}}" class="upvote-sol btn btn-success btn-xs">
                            {% else %}
                            <button data-id="{{sol.id}}" class="upvote-sol btn btn-default btn-xs">
                            {% endif %}
                                Upvote
                            </button>
                            
                            {% if current_user.has_downvoted(sol) %}
                            <button data-id="{{sol.id}}" class="downvote-sol btn btn-success btn-xs">
                            {% else %}
                            <button data-id="{{sol.id}}" class="downvote-sol btn btn-default btn-xs">
                            {% endif %}
                                Downvote
                            </button>
                    {% if sol.user == current_user %}
                        <button id="edit-sol" data-id="{{sol.id}}" class="downvote-sol btn btn-default btn-xs">Edit</button>
                    {% endif %}
                </div>
            </div>

            {% endif %}
            
            {% if sol %}
                <form id="solution-form" action="post" style="display: none">
                    <input type="hidden" name="sol_id" value="{{sol.id}}">
            {% else %}
                <form id="solution-form" action="post">
            {% endif %}
                    {{sol_form.hidden_tag()}} 

                    {{macros.render_field(sol_form.body, class='form-control', required='required')}} 

                    <div>
                        <h5>Preview</h5>
                        <div>
                            <p id="sol-preview">Your Solution</p>
                        </div>
                    </div>

                    {{sol_form.submit(class='btn btn-primary')}}
                </form>

            
        </div>
    </div>
</div>
