
#brand {
    font-family: "great vibes";
    font-size: 45px;
}
body {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%) repeat scroll 0 0;
}
.navbar {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    font-family: Georgia;
    font-size: 22px;
    margin: 20px auto;
    width: 80%;
}
.navbar-brand {
    font-family: "Great Vibes";
    font-size: 40px;
}
.navbar-default {
}
#intro {
    font-family: "Montserrat",Verdana;
    font-size: 100px;
    text-shadow: 4px 4px 3px grey;
}
html {
    height: 100%;
    width: 100%;
}
*::-moz-selection {
    background: #ffb7b7 none repeat scroll 0 0;
}
.lead {
    font-family: Verdana;
    font-size: 25px;
}
.navbar-default .navbar-brand {
    color: black;
}
