#user-desc {
    white-space: pre-wrap;
}
.streak {
    background: #9f84bd none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 1px 1px 3px #9f84bd;
    font-size: 14px;
}
.valid {
    background: #5cb85c none repeat scroll 0 0;
    box-shadow: 1px 1px 3px #5cb85c;
}

.last-seen {
    font-size: 12px;
    color: gray;
    margin: 0 0 0 10px;
}

.badge {
    margin: 0 5px;
}
.hide-option-layer {
    display: none;
}
.hide-option-layer .btn {
    height: 36px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.active-user-list {
    width: 22%;
}
.active-user-list .user-box {
    margin: 7px 20px;
}
.difficulty p {
    font-family: monospace;
    font-size: 0.9em;
    margin: -4px 0;
    padding: 0;
}
.difficulty {
    color: gray;
    margin: 0 -8px;
    padding: 2px;
}
.footer {
    background: rgba(0, 0, 0, 0.06) none repeat scroll 0 0;
    box-shadow: 0 -1px 3px lightgray;
    height: 50px;
    margin-top: 20px;
    padding-top: 15px;
}
.options .col-md-5 {
    height: 80px;
}
.navbar {
    background: white none repeat scroll 0 0;
    box-shadow: 0 0 3px lightgray;
    margin-top: 5px;
}
.user-tabs {
    margin-top: 10px;
    padding-top: 10px;
}
.panel {
    margin: 5px 0;
}
.list-group-item .badge {
    float: none;
}
.navbar .user-box {
    margin: 5px;
}
.question .lead {
    margin-bottom: 5px;
}
.question {
    box-shadow: 0 0 8px lightgray;
    padding: 10px;
}
.posted-on {
    color: gray;
    font-size: 10px;
    margin: 0 -15px 0 15px;
    text-align: right;
}
.question > .col-md-12 {
    box-shadow: 0 0 3px lightgray;
    margin: 6px 0;
    padding: 0;
}
.question .question-bar {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    padding: 2px;
}
.question p {
    padding: 5px;
}
.user-box p, .user-box a {
    font-weight: bolder;
    margin: 0;
    padding: 0;
}
.user-box {
    height: 40px;
    margin: -4px 9px;
    padding: 0;
    width: auto;
}
.user-box img {
    border-radius: 5px;
    vertical-align: top;
}
.user-box > div {
    display: inline-block;
}
.solution {
    padding: 5px;
}
.sol-body {
    padding: 5px 10px;
}
.sol-controls {
    background: rgba(0, 0, 0, 0.05) none repeat scroll 0 0;
    box-shadow: 0 -2px 2px lightgray;
    padding: 5px;
}
.sol-user-info {
    background: rgba(0, 0, 0, 0.08) none repeat scroll 0 0;
    box-shadow: 0 2px 2px lightgray;
    padding: 5px;
}
#desc {
    min-height: 110px;
}
.dropdown-settings li > button {
    border: 0 none;
    border-radius: 0;
    margin: 0 0 2px;
}
.ques-controls {
    padding: 0 19px;
}
p[id^="option_preview"] {
    color: lightgray;
    font-style: italic;
}
#modify-ques-form > .row {
    box-shadow: 0 0 3px lightgray;
    margin: 0 0 5px;
}
hr {
    margin-bottom: 10px;
    margin-top: 10px;
}
.options > .btn {
    margin: 10px 4px;
    text-align: left;
}
.control {
    margin: 2px 0 0 -15px;
    padding: 3px 0;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.sidebar .col-md-11 > span {
    color: gray;
    display: inline-block;
    font-size: 0.85em;
    margin: 0 3px;
    padding: 2px;
}
.sidebar {
    box-shadow: 0 0 10px lightgray;
    height: 564px;
    width: 28.8%;
}
.user-tags-col {
    box-shadow: 1px 1px 5px lightgray;
    height: 564px;
    margin: 0 15px 0 10px;
    padding: 5px;
}
.sidebar p {
    font-family: Tahoma;
    font-size: 1.15em;
    margin: 0;
}
.question-box .col-md-11 {
    width: 89.1%;
}
.sidebar .row {
    box-shadow: 0 1px 3px lightgray;
    margin: 0 0 10px;
    padding: 3px 0;
}
.accessories {
    border-right: 1px solid #eee;
    margin: 5% -10px 0 10px;
    padding: 0;
    width: 50px;
}
#alert {
    position: fixed;
    z-index: 999;
}
.options textarea {
    height: 34px;
}
.loading {
    overflow: hidden;
}
.loading .modal {
    display: block;
}
.question-box {
    box-shadow: 0 0 5px lightgray;
    margin: 0 15px 0 0;
    padding: 0 10px 15px;
}
h5 {
    color: gray;
    font-family: Verdana;
    font-style: italic;
}
.custom-checkbox input[type="checkbox"] {
    display: none;
}
.custom-checkbox label {
    background-color: #6a8494;
    border: 3px solid #fff;
    border-radius: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    margin: 21px 0 0;
    padding: 30px 25px 5px 19px;
    position: relative;
    transition: background-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
    white-space: nowrap;
}
.custom-checkbox label::before {
    border: 3px solid #fff;
    border-radius: 100px;
    bottom: 9px;
    content: "";
    display: block;
    margin: 0 0 0 -5px;
    position: absolute;
    top: 9px;
    transition: background-color 0.2s ease 0s;
    width: 17px;
}
.custom-checkbox label:hover, .container input:focus + label {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.custom-checkbox input:checked + label {
    background-color: lightgreen;
}
.custom-checkbox input:checked + label::before {
    background-color: #fff;
}