	
{% macro user_box(user, class="") %}
	<div class="user-box {{class}}">
		<div>
			<a href="{{url_for('main.user', id=user.id)}}">{{user.username}}</a>
			<p>{{user.score}}</p> 
		</div>
		
		<img width="40px" src="{% if user.picture %} {{user.picture}} {% else %} {{url_for('static', _external=True, filename='anon_user.jpg')}} {% endif %} " alt="{{user.username}}" />
							
	</div>	
{% endmacro %}

{% macro pager(obj, type='') %}
	<nav>
		<ul class="{{type}} pager">
			{% if obj.has_next or (obj.count and obj.count() > 2) %}
        	<li data-page="{{obj.page or 1}}" class="next"><a href="#">Older <span aria-hidden="true">&rarr;</span></a></li>
        {% endif %}

        {% if obj.has_prev %}
        	<li data-page="{{obj.page}}" class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Newer</a></li>
        {% endif %}
        
  		</ul>
	</nav>
{% endmacro %}


{% macro question(obj, type='') %}

	<div class="question row">
		{% if obj.items %}
			{% set questions = obj.items %}
		{% else %}
			{% set questions = obj.limit(config['PER_PAGE_LIMIT']) %}
		{% endif %}

		{% for ques_assoc in questions %}

            {% if ques_assoc.question %}
                {% set ques = ques_assoc.question %}
            {% else %}
                {% set ques = ques_assoc %}
            {% endif %}
			
			<div class="panel panel-default">
              
              <div class="panel-body">

                <p class="lead">
                	<a href="{{url_for('question.questions', id=ques.id)}}">{{ques.body}}</a>
                </p>
              </div>
            
              <div class="panel-footer">
                <div class="row">
                    {{caller(ques_assoc)}}
						
                    {{user_box(ques.user, class="pull-right")}}
                </div>
                
              </div>
            </div>
            
            
        {% else %}
        	<div class="panel panel-default">
        		<div class="panel-body">
                	<p class="lead">No questions to display</p>
              </div>
        	</div>
        {% endfor %}
		
		{{pager(obj, type)}}

    </div>
{% endmacro %}

{% macro solution(obj, type='') %}
	
	{% if obj.items %}
		{% set solutions = obj.items %}
	{% else %}
		{% set solutions = obj.limit(config['PER_PAGE_LIMIT']) %}
	{% endif %}

    {% for sol in solutions %}
        <div class="panel panel-info">
            
            <div class="panel-body">

           		{{sol.body}}
            </div>

            <div class="panel-footer">
                <div class="row">
                	<div class="col-md-3">
                		{{upvote(current_user, sol, type='sol-upvote-btn')}}
                		{{downvote(current_user, sol, type='sol-downvote-btn')}}
                	</div>
                    
                    
                    <div class="col-md-4">
                        {{caller(sol)}}
                    </div>

                    {{user_box(sol.user, class="pull-right")}}
                </div>
                
              </div>
        </div> 
    {% else %}
    <div class="panel panel-danger">
        <div class="panel-body">
            No Solutions
        </div>
    </div>
    {% endfor %}

    {{pager(obj, type)}}

{% endmacro %}

{% macro render_field(field) %}
	{% if field.errors %}		
		<div class="form-group has-error">
			{{field.label}} 
			{{field(**kwargs)}}
			
			{% for error in field.errors %}
				<p class="text-danger">{{error}}</p>
			{% endfor %}
		</div>
	{% else %}
		<div class="form-group">
			{{field.label}}
			{{field(**kwargs)}}
		</div>
	{% endif %}
{% endmacro %}

{% macro upvote(user, ques, type='upvote-btn') %}

	
		<button href="#" data-id="{{ques.id}}" data-count="{{ques.upvoted_by.count()}}" class="{{type}} btn {% if user.has_upvoted(ques) %}btn-success{% else %}btn-default{%endif%}" {% if user.has_downvoted(ques)%}disabled="disbaled"{%endif%}>
			<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
		</button>
{% endmacro %}

{% macro downvote(user, ques, type='downvote-btn') %}
		<button data-id="{{ques.id}}" data-count="{{ques.downvoted_by.count()}}" class="{{type}} btn {% if user.has_downvoted(ques) %}btn-success{%else%}btn-default{%endif%}" {%if user.has_upvoted(ques)%}disabled="disbaled"{%endif%}>
			<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
		</button>
{% endmacro %}

{% macro favourite(user, ques, text='', btn_size="") %}
	{% if user.has_favourited(ques) %}
		<button data-id="{{ques.id}}" data-count="{{ques.fav_by.count()}}" class="favourite-btn btn btn-success">
			{{text}}
			<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
	{% else %}
		<button data-id="{{ques.id}}" data-count="{{ques.fav_by.count()}}" class="favourite-btn btn btn-default">
			{{text}}
			<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
	{% endif %}
		</button>
{% endmacro %}

{% macro delete_button(user, ques, btn_size='') %}
	{% if ques.user == user %}
		<a href="{{url_for('question.delete_question', id=ques.id)}}" data-id="{{ques.id}}" class="btn btn-danger {{btn_size}}"><span class="glyphicon glyphicon-trash"></span> Delete</a>
	{% endif %}
{% endmacro %}

{% macro unsolve_button(user, ques, text='', btn_size='') %}
	{% if user.has_solved(ques) %}
		<button data-id="{{ques.id}}" class="unsolve-btn btn btn-danger {{btn_size}}"><span class="glyphicon glyphicon-remove-sign"></span> Unsolve</button>
	{% endif %}
{% endmacro %}

{% macro tags(user, tags) %}
	<ul class="list-group">
		{% for tag in tags.limit(10) %}
			<li class="list-group-item">
				<a href="{{url_for('main.tags', tagname=tag.tagname)}}">{{tag.tagname}}</a>
				
				<span class="badge">{{tag.questions.count()}}</span>
			
			{% if user == current_user %}
				<a href="#" data-id="{{tag.id}}" class="close" type="button">&times;</a>
			{% endif %}
			</li>
		{% else %}
			<h3>Please choose at least one tag.</h3>
		{% endfor %}
	</ul>
{% endmacro %}