{% from "_macros.html" import question, upvote, downvote, favourite, delete_button with context %}

{% if user %}
	{% set obj = user.questions %}
{% else %}
	{% set obj = pagination %}
{% endif %}

{% call(ques) question(obj, type='posted') %}
	<div class="col-md-6">
		{{upvote(current_user, ques)}}
		{{downvote(current_user, ques)}}
		{{favourite(current_user, ques)}}
		{{delete_button(current_user, ques)}}
	
		{% if ques.user == current_user %}
		<a href="{{url_for('question.edit_question', id=ques.id)}}" class="btn btn-info"><span class="glyphicon glyphicon-edit"></span> Edit</a>
		{% endif %}
    </div>
                    
    <div class="col-md-3">
        	Posted on <strong>{{ques.timestamp|time}}</strong>
    </div>

    
{% endcall %}