{% from "_macros.html" import question, upvote, downvote, favourite, delete_button with context %}

{% if user %}
	{% set obj = user.questions %}
{% else %}
	{% set obj = pagination %}
{% endif %}

{% call(ques_assoc) question(obj, type='posted') %}
	<div class="col-md-5">
		{{upvote(current_user, ques_assoc)}}
		{{downvote(current_user, ques_assoc)}}
		{{favourite(current_user, ques_assoc)}}
		{{delete_button(current_user, ques_assoc)}}
		<a href="{{url_for('question.edit_question', id=ques_assoc.id)}}" class="btn btn-info"><span class="glyphicon glyphicon-edit"></span> Edit</a>
    </div>
                    
    <div class="col-md-3">
        <small>
        	Posted on {{ques_assoc.timestamp|time}}
    	</small>
    </div>

    
{% endcall %}