{% from "_macros.html" import question, upvote, downvote, favourite, unsolve_button with context %}

{% if user %}
	{% set obj = user.questions_solved %}
{% else %}
	{% set obj = pagination %}
{% endif %}

{% call(ques_assoc) question(obj, type='solved') %}

	{% set ques = ques_assoc.question %}
	
	<div class="col-md-4">
		{{upvote(current_user, ques)}}
		{{downvote(current_user, ques)}}
		{{favourite(current_user, ques)}}
		{{unsolve_button(current_user, ques)}}
    </div>
                    
    <div class="col-md-4">
        <small>
        	Solved on {{ques_assoc.timestamp.strftime('%a %b %Y')}} in 
        	<b>{{ques_assoc.attempted}}</b> attempt(s). 
    	</small>
    </div>
{% endcall %}