{% from "_macros.html" import question, upvote, downvote, favourite, unsolve_button with context %}

{% if user %}
	{% set obj = user.questions_solved %}
{% else %}
	{% set obj = pagination %}
{% endif %}

{% call(ques_assoc) question(obj, type='solved') %}

	{% set ques = ques_assoc.question %}
	
	<div class="col-md-5">
		{{upvote(current_user, ques)}}
		{{downvote(current_user, ques)}}
		{{favourite(current_user, ques)}}
		{{unsolve_button(current_user, ques)}}
    </div>
                    
    <div class="col-md-4">
        	Solved on <strong>{{ques_assoc.timestamp|time}}</strong> in 
        	<strong>{{ques_assoc.attempted}}</strong> attempt(s). 
    </div>
{% endcall %}