{% extends "base.html" %}
{% import "_macros.html" as macros with context %}

{% block content %}

<div class="row">
	<div class="user-tags-col col-md-2">
		
			<form id="tags-form" method="post">
				{{form.hidden_tag()}}
				
				{{macros.render_field(form.tags, class='form-control')}}

				{{form.submit(class='btn btn-primary btn-block')}}
			</form>

			<h4>My topics</h4>
			
			{{macros.tags(current_user, current_user.associated_tags)}}
		
	</div>

	<div class="question-box col-md-6">

		<div class="control">
					<div class="dropdown-settings pull-right">
						<button class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
							Settings
							<span class="caret"></span>
						</button>

						<ul class="dropdown-menu" aria‐labelledby="dropdownMenu1">
							{% set setting = current_user.setting %}

							<li>
								{% if setting and setting.hide_difficulty %}
									<button data-type="HD" id="hide-difficulty" type="button" class="btn btn-success btn-block" autocomplete="off">Hide Difficulty</button>
								{% else %}
									<button data-type="HD" id="hide-difficulty" type="button" class="btn btn-default btn-block" autocomplete="off">Hide Difficulty</button>
								{% endif %}
							</li>
							
							<li>
								{% if setting and setting.repeat_solved_questions %}
									<button data-type="KSQ" id="keep-solved-ques" type="button" class="btn btn-success btn-block" autocomplete="off">Show Solved Question</button>
								{% else %}
									<button data-type="KSQ" id="keep-solved-ques" type="button" class="btn btn-default btn-block" autocomplete="off">Show Solved Question</button>
								{% endif %}
							</li>
							<li>
								{% if setting and setting.auto_load_questions %}
									<button data-type="AL" id="auto-load" type="button" class="btn btn-success btn-block" autocomplete="off">Auto-Load</button>
								{% else %}
									<button data-type="AL" id="auto-load" type="button" class="btn btn-default btn-block" autocomplete="off">Auto-Load</button>
								{% endif %}
							</li>
							<li><button data-type="HO" id="hide-options" type="button" class="btn btn-default btn-block">Hide Options</button></li>
						</ul>
					</div>

<!-- 					<button  class="btn btn-default">
						Auto Load
						<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
					</button>
					<button id="keep-solved-ques" class="btn btn-default">
						Show Solved Q's
						<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
					</button>
					<button id="hide-difficulty" class="btn btn-default">
						Hide Difficulty
						<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
					</button> -->
		</div>
		
		
		{% include "question/_question.html" %}
		
	</div>
	
	<div class="sidebar col-md-4">
		<h5>Related Questions</h5>
		{% if side_ques %}
			{% for ques in side_ques %}
				<div class="row">
					<div class="col-md-11">
						<p><a data-id="{{ques.id}}" href="{{url_for('question.questions', id=ques.id)}}">{{ques.body}}</a></p>
						<span>Fav by: <span class="badge">{{ques.fav_by.count()}}</span></span>
						<span>Votes: <span class="badge">{{ques.votes}}</span></span>
						<span class="text-info">{{ques.description}}</span>
					</div>
				</div>
			{% endfor %}
		{% else %}
		<h4>No related questions</h4>
		{% endif %}
	</div>

</div>

{% endblock %}