{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block content %}

<div class="row">
	<div class="col-md-2">
		<form id="tags-form" method="post">
			{{form.hidden_tag()}}
			
			{{macros.render_field(form.tags, class='form-control')}}

			{{form.submit(class='btn btn-primary btn-block')}}
		</form>

		<h4>My topics</h4>

		<ul class="list-group">
		{% if tags %}
			{% for tag in tags %}
				<li class="list-group-item">{{tag.tagname}}
					<a href="#" data-id="{{tag.id}}" class="close" type="button">&times;</a>
				</li>
			{% endfor %}
		{% else %}
		</ul>

		<h3>Please choose at least one tag.</h3>
		{% endif %}

	</div>

	<div class="question-box col-md-7">
		{% include "question/_question.html" %}
	</div>
	
	<div class="sidebar col-md-3">
		<h5>Related Questions</h5>
		{% if side_ques %}
			{% for ques in side_ques %}
				<div class="row">
					<div class="col-md-11">
						<p>{{ques.body}}</p>
						<span>Fav by: <span class="badge">{{ques.fav_by.count()}}</span></span>
						<span>Votes: <span class="badge">{{ques.votes}}</span></span>
						<span class="text-info">{{ques.description}}</span>
					</div>
				</div>
			{% endfor %}
		{% else %}
		<h4>No related questions</h4>
		{% endif %}
	</div>

</div>

{% endblock %}