{% extends "base.html" %}
{% from "_macros.html" import question, tags, user_box with context %}

{% block content %}
    
    <div class="row">
        <div class=" user-tags-col col-md-2">
                <h4>My topics</h4>
                
                {{tags(current_user, current_user.associated_tags)}}
        </div>

        <div class="col-md-7">
            <h1>{{tag.tagname}}</h1>
            <h2>Followed: {{tag.assoc_users.count()}}</h2>
            <h2>Questions: {{ques.count()}}</h2>
        </div>

        <div class="active-user-list col-md-3 pull-right">
            <h5>Most</h5>
            <div class="row">
                {{user_box(current_user, class='pull-right')}}
            </div>
            
        </div>

        <div id="tag-ques" class="col-md-7">
            {% include "_tags.html" %}
        </div>


    </div>
{% endblock %}