{% extends "base.html" %}
{% from "_macros.html" import question, tags, user_box with context %}

{% block content %}
    
    <div class="row">
        <div class="user-tags-col col-md-2">
                <h4>My topics</h4>
                
                {{tags(current_user, current_user.associated_tags)}}
        </div>

        <div class="col-md-7">
            <div class="panel panel-info">
                <!-- <div class="panel-heading">
                    <h3>{{tag.tagname}}</h3>
                </div> -->
                <div class="panel-body">
                    <h2>{{tag.tagname}}</h2>

                    <p>Number of Questions: <strong>{{tag.questions.count()}}</strong></p>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-info"><strong>Subscribe</strong> | {{tag.assoc_users.count()}}</button>
                </div>
            </div>

        </div>

        <div class="active-user-list col-md-3 pull-right">
            <h5 class="text-center">Most Active Users</h5>
            <div class="row">
                {% for user in tag.top_users() %}
                    <div class="col-md-12">
                        {{user_box(user, class='pull-right')}}
                    </div>
                {% else %}
                    <div class="col-md-12">
                        <p>No Users</p>
                    </div>
                {% endfor %}
                
            </div>
            
        </div>

        <div id="tag-ques" class="col-md-7">
            {% include "_tags.html" %}
        </div>


    </div>
{% endblock %}