{% extends "base.html" %} 
{% from "_macros.html" import tags with context %}
{% block content %}

<div class="user row">
    <input type="hidden" name="user-id" value="{{user.id}}" />
    
    <div class="user-tags-col col-md-2">
        <h5 class="text-center">Subscribed tags</h5>
        {{tags(user, user.associated_tags)}}
    </div>

    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-responsive" src="{{user.picture or url_for('static', filename='anon_user.jpg')}}" widht="250px" alt="{{user.username}}" />
                    </div>

                    <div class="col-md-8">
                        <h2>{{user.username}}<span class=
                            "last-seen">Last Seen {{user.last_seen|time}}</span></h2>

                        
                        <p id="user-desc">{%- if not user.description %} No Description {% else %} {{user.description}} {% endif -%} {% if user == current_user %} <button id="edit-desc-btn" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit</button>{% endif %}</p>                   
                        
                    </div>
                </div>
                
                
            </div>
            <div class="panel-footer">
                
            </div>
        </div>
    </div>    

    <div class="user-tabs col-md-9">
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#posted" role="tab" data-toggle="tab">Posted<span class="badge">{{user.questions.count()}}</span></a></li>
                <li role="presentation" class=""><a href="#solved" role="tab" data-toggle="tab">Solved<span class="badge">{{user.questions_solved.count()}}</span></a></li>
                <li role="presentation" class=""><a href="#favourited" role="tab" data-toggle="tab">Favourited<span class="badge">{{user.questions_fav.count()}}</span></a></li>
                <li role="presentation"><a href="#upvoted" role="tab" data-toggle="tab">Upvoted<span class="badge">{{user.questions_upvoted.count()}}</span></a></li>
                <li role="presentation"><a href="#downvoted" role="tab" data-toggle="tab">Downvoted<span class="badge">{{user.questions_downvoted.count()}}</span></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane in active" id="posted">
                    {% include "_posted.html" %}
                </div>

                <div role="tabpanel" class="tab-pane fade in" id="solved">	
                    {% include "_solved.html" %}                       
                </div>

                <div role="tabpanel" class="tab-pane" id="favourited">
                    {% include "_favourited.html" %}  
                </div>
                
                <div role="tabpanel" class="tab-pane" id="upvoted">
                    {% include "_upvoted.html" %} 
                </div>

                <div role="tabpanel" class="tab-pane" id="downvoted">
                    {% include "_downvoted.html" %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}